<h1>Add review for <%= @restaurant.name %></h1>
<%= form_for [@restaurant, @review] do |f| %>
  <%= f.label :content, "Leave your review" %>
  <%= f.text_field :content %>
  <%= f.label :rating, "Leave rating 0-5" %>
  <%= f.number_field :rating %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
